# -----------------------------------------------
# ----  gitignore  ------------------------------
# ----  https://git-scm.com/docs/gitignore  -----
# -----------------------------------------------

# Create gitignore files automatically for with
# https://www.toptal.com/developers/gitignore

/tmp/
/.assets/

# -----------------------------------------------
# ----  IDEs  -----------------------------------
# -----------------------------------------------

.idea/*
.vscode/*
